* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270deg, #29d9ac, #1e19fb, #e41d1d);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  -o-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.app-wrapper {
  background-color: black;
  min-width: 450px;
  min-width: 50px;
  padding: 20px 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}

.header h1 {
  color: #ffff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0px 0px 15px 0px;
}

.task-input {
  outline: none;
  width: 200px;
  padding: 15px;
  margin-right: 15px;
  font-size: 20px;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
}

.button-add {
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  color: white;
  background-color: grey;
  cursor: pointer;
}

.button-add:hover {
  background-color: blue;
}

.list-item {
  display: flex;
  margin: 20px 0;
  border: 1px solid white;
  border-radius: 10px;
  max-width: 93%;
  padding: 10px;
  max-height: 30px;
}

.button-compelete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 30px;
  border-radius: 50%;
}

.button-compelete {
  color: greenyellow;
  margin-left: 50px;
  margin-right: -90px;
}

.button-edit {
  color: aqua;
  margin-left: 100px;
  margin-right: -90px;
}

.button-delete {
  color: red;
  margin-left: 100px;
  margin-right: -90px;
}

.compelete {
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #ff6c6c;
  opacity: 0.6;
}

.list {
  width: 120px;
  background-color: black;
  border: none;
  color: white;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}

input:focus,
button:focus {
  outline: none;
}